.sectionTitle {
  width: 320px;
  height: auto;
  padding-bottom: 2px;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: left;
  border-style: solid;
  border-color: #e4e4e4;
  border-width: 0px 0px 1px 0;
}
